# Time series with seasonality

In this notebook, we'll take a look at some examples of time series with a clear seasonality.

I used data from the [time series data library](https://datamarket.com/data/list/?q=provider%3Atsdl) on Datamarket.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## Data set

I found this data set interesting in the time series library. It is made of 240 observations from 1920 to 1939. The values are monthly temperatures (Farenheit degrees) collected in the city of Nottingham. More details [here]()

In [49]:
mean_daily_temp = pd.read_csv('mean-monthly-air-temperature-deg.csv', 
                              index_col=0,
                              parse_dates=True,
                              names=['Date', 'Temperature'],
                              header=0,
                              skipfooter=2, 
                              engine='python')
mean_daily_temp.head()

            Temperature
Date
1920-01-01         40.6
1920-02-01         40.8
1920-03-01         44.4
1920-04-01         46.7
1920-05-01         54.1